launch:
- node:
    pkg: "disparity_estimator"
    exec: "disparity_publisher"
    name: "disparity_publisher"
    namespace: "depth_projector"

- node:
    pkg: "depth_projector"
    exec: "projector"
    name: "projector"
    namespace: "depth_projector"

- node:
    pkg: "depth_projector"
    exec: "depth_publisher"
    name: "depth_publisher"
    namespace: "depth_projector"

